<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homework 1 Advance JS - part 2</title>
    <script defer src="../scripts/app1.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../styles/style.css" type="text/css" />
  </head>
  <body>
    <form>
      <button type="submit" id="sub">Click me</button>
      <table></table>
    </form>
  </body>
</html>
