<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homework 8 JS - exercise 2</title>
    <script
      defer
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script defer src="../scripts/app1.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../styles/styles.css" type="text/css" />
  </head>
  <body>
    <form>
      Text: <input type="text" id="text" name="text" /> <br /><br />Color:
      <input type="text" id="color" name="color" />
      <button type="submit" class="sub">genreate h1</button>
      <button class="res" type="reset">Reset</button>
    </form>
  </body>
</html>
