<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>exercise 7</title>
    <script defer src="../scripts/app6.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../styles/style.css" type="text/css" />
  </head>
  <body>
    <form>
    Circle radius: <input type="number" id="radius" name="radius" />
    <p class="hidden">Please insert a radius</p>
    
    <button type="submit" id="submit" class="btn submit">Create a circle object</button>
    <button type="submit" id="area" class="btn area"> Get Area</button><button type="submit" id="perimeter" class="btn perimeter">Get perimeter</button>
    
  </body>
</html>
