.sub {
  display: block;
  margin: 10px;
  color: green;
}
.res {
  display: block;
  margin: 10px;
  color: green;
}
.err {
  border: red 1px solid;
}
p {
  display: none;
}
.show {
  color: red;
  margin-left: 80px;
  margin-top: 2px;
  display: block;
}
