<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>exercise 5</title>
    <script defer src="../scripts/app3.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../styles/style.css" type="text/css" />
  </head>
  <body>
    <form>
      Side A: <input type="text" name="sideA" id="sideA" /> Side B:
      <input type="number" id="sideB" name="sideB" />
      <button type="submit" id="sub">Click me</button>
    </form>
    <p></p>
  </body>
</html>
