<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homework JS - 9 - jquery - ajax</title>
    <script
      defer
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script defer src="../scripts/app.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../styles/style.css" type="text/css" />
  </head>
  <body>
    <button id="sub" type="sub">Click me</button>
    <table>
      <th>ID</th>
      <th>Title</th>
    </table>
  </body>
</html>
